# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Env
venv/
env/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3

# Static files
/staticfiles/
/static/

# Media
media/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Environment variables
.env